body {
  font-family: sans-serif;
  background-color: #c0c0e7;
}

h1,
h2 {
  text-align: center;
}

h1 {
  color: darkred;
}

.hello-world {
  font-style: italic;
}

p,
figure {
  border: 1px solid purple;
  padding: 32px;
}

p.intro {
  width: 300px;
}

figure {
  margin: 16px 0;
  display: inline-block;
}
